    
    <script src="/assets/dependencies/popper.min.js"></script>
    <script src="/assets/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/dependencies/chart.js/chart.min.js"></script>
    <script src="/assets/dependencies/fontawesome/js/all.min.js"></script>
    </body>
    </html>
