<%- include('../layouts/header') -%>
<div id="home">
    <%- include('../layouts/adminLayouts') %>
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
          <h1>TODO: Implement this page.</h1>
          <p>(See also <em>assets/styles/pages/Home.less</em>, <em>assets/js/pages/Home.page.js</em>, and <em>api/controllers/view-home.js</em>.)</p>
        </div>
    </div>
</div>
<%- include('../layouts/footer') -%>
