<div class="">
	<h1>New CourseItems</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/CourseItems/create" method="post">
				<div class="">
					<label for="">Title</label>
					<input type="text" name="Title" value="" required>
				</div>
				<div class="">
					<label for="">Photo</label>
					<input type="text" name="Photo" value="" required>
				</div>
				<div class="">
					<label for="">Desc</label>
					<input type="text" name="Desc" value="" required>
				</div>
				<div class="">
					<label for="">Slug</label>
					<input type="text" name="Slug" value="" required>
				</div>
				<div class="">
					<label for="">LongDesc</label>
					<input type="text" name="LongDesc" value="" required>
				</div>
			<button type="submit">Save CourseItems</button>
		</form>
		<br />
		<a href="/CourseItems">Index</a>
	</div>
</div>
